<!DOCTYPE html>
<html lang="fr">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- header -->
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div
            class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

            <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="{% static 'assets/img/aurele.jpeg' %}" alt="">
                <h1 class="sitename">Aurele-service</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{% url 'index' %}" class="active">Accueil</a></li>
                    <li><a href="{% url 'about' %}">À Propos</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                    <li><a href="{% url 'team' %}">Équipe</a></li>
                    <li class="dropdown"><a href="#"><span>Accompagnement</span> <i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="{% url 'business_pack' %}">Pack Entreprise</a></li>
                            <li><a href="{% url 'learning_with_us' %}">Apprendre avec Nous</a></li>
                            <li><a href="{% url 'professional_pack' %}">Pack Professionnel</a></li>
                            <li class="dropdown"><a href="#"><span>Pack Étudiant</span> <i
                                        class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="{% url 'assistance_pack' %}">Assistance</a></li>
                                    <li><a href="{% url 'ressources_pack' %}">Ressources</a></li>
                                    <li><a href="{% url 'scholarship_pack' %}">Bourses</a></li>
                                    <li><a href="{% url 'internship_pack' %}">Stages</a></li>
                                    <li><a href="{% url 'mentor_pack' %}">Mentor</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'personal_pack' %}">Pack Personnel</a></li>
                            <li><a href="{% url 'sharing_pack' %}">Partage</a></li>
                            <li><a href="{% url 'become_member' %}">Devenir membre</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'projects' %}">Projets</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted" href="{% url 'contact' %}">Commencer</a>

        </div>
    </header>

    <!-- footer -->
</body>

</html>