{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main">
    <!-- header start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px">
            <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">À Propos de Nous</h4>
            <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Accueil</a></li>
                <li class="breadcrumb-item active text-primary">À Propos</li>
            </ol>
        </div>
    </div>
    <!-- header end -->
    <!-- À Propos Section -->
    <section id="about" class="about pt-0">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">
                <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
                    <img src="{% static 'assets/img/aurele.jpeg' %}" class="img-fluid" alt="photo of aurele service">
                </div>
                <div class="col-lg-6 content order-last order-lg-first">
                    <h3>À Propos Aurele-service</h3>
                    <p>
                        Aurele-service est dédié à fournir des solutions exceptionnelles pour répondre aux besoins de
                        nos clients.
                        Nous sommes une entreprise de services qui se spécialise dans divers domaines, tels que la
                        gestion de projets, la formation, la gestion des ressources humaines et bien plus encore.
                    </p>
                    <p>
                        Notre équipe de professionnels expérimentés est composée de professionnels qualifiés et
                        passionnés qui sont dédiés à fournir des services de haute qualité à nos clients. Nous nous
                        engageons à fournir des solutions efficaces et personnalisées pour répondre aux besoins
                        spécifiques de chaque client.
                    </p>
                    <p>Nos valeurs fondamentales incluent l'intégrité, l'innovation et l'engagement envers l'excellence.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> Services de Qualité</li>
                        <li><i class="bi bi-check-circle-fill"></i> Équipe Expérimentée</li>
                        <li><i class="bi bi-check-circle-fill"></i> Satisfaction client</li>
                    </ul>
                    <p>
                        Nous croyons en l'importance de bâtir des relations solides avec nos clients et de travailler en
                        étroite collaboration avec eux pour comprendre leurs besoins et leurs objectifs. Notre
                        approche centrée sur le client nous permet de fournir des solutions qui dépassent les attentes
                        de nos clients.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End À Propos Section -->

</main>
{% endblock content %}